#name {
  display: flex;
  align-items: center;
  justify-content: center;
}

#information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0rem 1rem;
  line-height: 1.5rem;
}

#subject {
  align-items: center;
  padding: 0rem 0.5rem;
}

li {
  line-height: 1.5rem;
}

html {
  background-color: #2a2a2e;
  width: 100%;
}

#html-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 2rem 0.5rem;
  max-width: 9in;
  justify-content: center;
  margin: 1rem auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 700px) {
  #html-body {
    padding: 2rem 1rem;
  }
  #subject {
    padding: 0rem 1rem;
  }
}
